# Set-Up

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('../data/data.db')
c = conn.cursor()

def execute_statement(statement):
    c.execute(statement)
    res = c.fetchall()
    column_names = [description[0] for description in c.description]
    return pd.DataFrame(res, columns=column_names)

# Countries of Europe
In this first section we will create a table in the database containing all of the country codes for territories that are partially or completely in Europe. Each of these country codes also also shown in the table below.

| Code | Country |
|---|---|
| AD | Andorra |
| AL | Albania |
| AM | Armenia |
| AT | Austria |
| AX | Aland Islands |
| AZ | Azerbaijan |
| BA | Bosnia and Herzegovina |
| BE | Belgium |
| BG | Bulgaria |
| BY | Belarus |
| CH | Switzerland |
| CS | Former Serbia and Montenegro |
| CY | Cyprus |
| CZ | Czech Republic |
| DD | Former East Germany |
| DE | Germany |
| DK | Denmark |
| EE | Estonia |
| ES | Spain |
| FI | Finland |
| FO | Faroe Islands |
| FR | France |
| GB | United Kingdom of Great Britain and Northern Ireland |
| GE | Georgia |
| GG | Guernsey |
| GI | Gibraltar |
| GR | Greece |
| HR | Croatia |
| HU | Hungary |
| IE | Ireland |
| IM | Isle of Man |
| IS | Iceland |
| IT | Italy |
| JE | Jersey |
| LI | Liechtenstein |
| LT | Lithuania |
| LU | Luxembourg |
| LV | Latvia |
| MC | Monaco |
| MD | Republic of Moldova |
| ME | Montenegro |
| MT | Malta |
| NL | Netherlands |
| NO | Norway |
| PL | Poland |
| PT | Portugal |
| RO | Romania |
| RS | Serbia |
| RU | Russian Federation |
| SE | Sweden |
| SI | Slovenia |
| SK | Slovakia |
| SM | San Marino |
| SU | Former Soviet Union |
| TR | Turkey |
| UA | Ukraine |
| VA | Holy See |
| XE | Europe |
| YU | Former Yugoslavia |
| ZC | Former Czechoslovakia |

In [3]:
# Create the table
c.execute('''CREATE TABLE IF NOT EXISTS EuropeTerritories
             (
                 Code varchar(3),
                 Territory varchar(255)
             )''')

# Get a Python list of territories
countries = [('AD', 'Andorra'), ('AL', 'Albania'), ('AM', 'Armenia'), ('AT', 'Austria'), ('AX', 'Aland Islands'),
             ('AZ', 'Azerbaijan'), ('BA', 'Bosnia and Herzegovina'), ('BE', 'Belgium'), ('BG', 'Bulgaria'),
             ('BY', 'Belarus'), ('CH', 'Switzerland'), ('CS', 'Former Serbia and Montenegro'), ('CY', 'Cyprus'),
             ('CZ', 'Czech Republic'), ('DD', 'Former East Germany'), ('DE', 'Germany'), ('DK', 'Denmark'),
             ('EE', 'Estonia'), ('ES', 'Spain'), ('FI', 'Finland'), ('FO', 'Faroe Islands'), ('FR', 'France'),
             ('GB', 'United Kingdom of Great Britain and Northern Ireland'), ('GE', 'Georgia'), ('GG', 'Guernsey'),
             ('GI', 'Gibraltar'), ('GR', 'Greece'), ('HR', 'Croatia'), ('HU', 'Hungary'), ('IE', 'Ireland'),
             ('IM', 'Isle of Man'), ('IS', 'Iceland'), ('IT', 'Italy'), ('JE', 'Jersey'), ('LI', 'Liechtenstein'),
             ('LT', 'Lithuania'), ('LU', 'Luxembourg'), ('LV', 'Latvia'), ('MC', 'Monaco'), ('MD', 'Republic of Moldova'),
             ('ME', 'Montenegro'), ('MT', 'Malta'), ('NL', 'Netherlands'), ('NO', 'Norway'), ('PL', 'Poland'),
             ('PT', 'Portugal'), ('RO', 'Romania'), ('RS', 'Serbia'), ('RU', 'Russian Federation'), ('SE', 'Sweden'),
             ('SI', 'Slovenia'), ('SK', 'Slovakia'), ('SM', 'San Marino'), ('SU', 'Former Soviet Union'),
             ('TR', 'Turkey'), ('UA', 'Ukraine'), ('VA', 'Holy See'), ('XE', 'Europe'), ('YU', 'Former Yugoslavia'),
             ('ZC', 'Former Czechoslovakia')]

# Add countries to the table
for pair in countries:
    c.execute('INSERT INTO EuropeTerritories VALUES("' + pair[0] + '", "' + pair[1] + '")')

This extra step is to check that we have managed to insert all 60 codes into our new EuropeTerritories table.

In [4]:
execute_statement('SELECT COUNT(*) FROM EuropeTerritories')

   COUNT(*)
0        60

# Clean-Up
To clean up the database and ensure that it does not interfere with other notebooks, we will delete the EuropeTerritories table.

In [5]:
c.execute('DROP TABLE EuropeTerritories')