# Set-Up

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('../data/data.db')
c = conn.cursor()

def execute_statement(statement):
    c.execute(statement)
    res = c.fetchall()
    column_names = [description[0] for description in c.description]
    return pd.DataFrame(res, columns=column_names)

# DISTINCT
To get unique values of a given column, use the DISTINCT statement.

In [8]:
execute_statement('SELECT DISTINCT Appendix FROM cites')

  Appendix
0       II
1      III
2        I
3        N

# Sorting DISTINCT Results
To view the results of a DISTINCT statement, it could be easier to ORDER BY the column.

In [9]:
execute_statement('SELECT DISTINCT Appendix FROM cites ORDER BY Appendix ASC')

  Appendix
0        I
1       II
2      III
3        N

# Counting DISTINCT Results
To count the number of distinct results, surround the DISTINCT statement with a COUNT

In [11]:
execute_statement('SELECT COUNT(DISTINCT Appendix) FROM cites')

   COUNT(DISTINCT Appendix)
0                         4