# Set-Up

In [2]:
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.connect('../data/data.db')
c = conn.cursor()

def execute_statement(statement):
    c.execute(statement)
    res = c.fetchall()
    column_names = [description[0] for description in c.description]
    return pd.DataFrame(res, columns=column_names)

# DISTINCT
To get unique values of a given column, use the DISTINCT statement.

In [6]:
execute_statement('SELECT * FROM LeicestershireBirds INNER JOIN cites ON LeicestershireBirds.Taxon = cites.Taxon')

,Category,Name,Status,Rarity Winter,Rarity Summer,Rarity Breeding,Rarity Passage,Rarity Vagrant,Rarity Feral,Rarity Escapee,...,Unit,Importer,Exporter,Origin,Purpose,Source,Reporter.type,Import.permit.RandomID,Export.permit.RandomID,Origin.permit.RandomID
0,C,Egyptian Goose,F4; B3,0,0,3,0,0,4,0,...,None,US,ZA,None,H,W,E,None,da69ac58ca,None
1,C,Egyptian Goose,F4; B3,0,0,3,0,0,4,0,...,None,DE,ZW,None,T,W,E,None,061e821b54,None
2,C,Egyptian Goose,F4; B3,0,0,3,0,0,4,0,...,None,US,ZA,None,H,W,E,None,aebb86d3cd,None
3,C,Egyptian Goose,F4; B3,0,0,3,0,0,4,0,...,None,US,ZA,None,H,W,E,None,560c36119c,None
4,C,Egyptian Goose,F4; B3,0,0,3,0,0,4,0,...,None,CS,NL,None,T,C,E,None,c7559a60a6,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38746,A,Short-eared Owl,W4,4,0,0,0,0,0,0,...,None,AT,US,None,S,W,E,None,3f2d2e12c7,None
38747,A,Short-eared Owl,W4,4,0,0,0,0,0,0,...,None,AU,GB,GB,T,U,E,None,1e8cf2590e,None
38748,A,Short-eared Owl,W4,4,0,0,0,0,0,0,...,None,US,EC,None,S,W,E,None,f56e2d1794,None
38749,A,Short-eared Owl,W4,4,0,0,0,0,0,0,...,None,JP,UZ,None,T,W,E,None,c86a753858,None
38750,A,Short-eared Owl,W4,4,0,0,0,0,0,0,...,None,US,EC,None,S,W,E,None,09904d77b6,None