# Set-Up

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('../data/data.db')
c = conn.cursor()

def execute_statement(statement):
    c.execute(statement)
    res = c.fetchall()
    column_names = [description[0] for description in c.description]
    return pd.DataFrame(res, columns=column_names)

# DISTINCT
To get unique values of a given column, use the DISTINCT statement.

In [8]:
execute_statement('SELECT DISTINCT Appendix FROM cites')

  Appendix
0       II
1      III
2        I
3        N