# Set-Up

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('../data/data.db')
c = conn.cursor()

def execute_statement(statement):
    c.execute(statement)
    res = c.fetchall()
    column_names = [description[0] for description in c.description]
    return pd.DataFrame(res, columns=column_names)

# LIMIT

In [6]:
execute_statement('SELECT * FROM cites WHERE \'Order\' = "Phoenicopteriformes" LIMIT 5')

Empty DataFrame
Columns: [Id, Year, Appendix, Taxon, Class, Order, Family, Genus, Term, Quantity, Unit, Importer, Exporter, Origin, Purpose, Source, Reporter.type, Import.permit.RandomID, Export.permit.RandomID, Origin.permit.RandomID]
Index: []